---
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Hawk by klokantech</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Hawk</h1>
      <h2 class="project-tagline">Europeana IIIF - Image Embedding Service (IES)</h2>
      <a href="https://github.com/klokantech/hawk" class="btn">View on GitHub</a>
      <a href="https://github.com/klokantech/hawk/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/klokantech/hawk/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <h3>Set of "lossy" images</h3>
<div class="container">
{% for member in site.data.lossy1 %}
  <div>
  	<a href="http://klokantech.github.io/iiifviewer/#http://iiifhawk.klokantech.com/{{ member.identifier }}/info.json" class="thumbnail">
  		<img src="http://iiifhawk.klokantech.com/{{ member.identifier }}/full/,100/0/native.jpg" heigth="100px"/>
  	</a>
  	<a href="http://iiifhawk.klokantech.com/cgi-bin/iiifserver.fcgi?iiif={{ member.identifier }}.jp2/info.json">
  		json
  	</a>
  </div>
{% endfor %}
</div>
      <h3>Set of "lossless" images</h3>
<div class="container">
{% for member in site.data.lossless1 %}
  <div>
  	<a href="http://klokantech.github.io/iiifviewer/#http://iiifhawk.klokantech.com/{{ member.identifier }}/info.json" class="thumbnail">
  		<img src="http://iiifhawk.klokantech.com/{{ member.identifier }}/full/,100/0/native.jpg" heigth="100px"/>
  	</a>
  	<a href="http://iiifhawk.klokantech.com/cgi-bin/iiifserver.fcgi?iiif={{ member.identifier }}.jp2/info.json">
  		json
  	</a>
  </div>
{% endfor %}
</div>
      <h3>Set of "big" images with size 4MB-13MB</h3>
<div class="container">
{% for member in site.data.big %}
  <div>
  	<a href="http://klokantech.github.io/iiifviewer/#http://iiifhawk.klokantech.com/{{ member.identifier }}/info.json" class="thumbnail">
  		<img src="http://iiifhawk.klokantech.com/{{ member.identifier }}/full/,100/0/native.jpg" heigth="100px"/>
  	</a>
  	<a href="http://iiifhawk.klokantech.com/cgi-bin/iiifserver.fcgi?iiif={{ member.identifier }}.jp2/info.json">
  		json
  	</a>
  </div>
{% endfor %}
</div>
	  <h3>Set of "medium" images with size 2.2MB-2.4MB</h3>
<div class="container">
{% for member in site.data.medium %}
  <div>
  	<a href="http://klokantech.github.io/iiifviewer/#http://iiifhawk.klokantech.com/{{ member.identifier }}/info.json" class="thumbnail">
  		<img src="http://iiifhawk.klokantech.com/{{ member.identifier }}/full/,100/0/native.jpg" heigth="100px"/>
  	</a>
  	<a href="http://iiifhawk.klokantech.com/cgi-bin/iiifserver.fcgi?iiif={{ member.identifier }}.jp2/info.json">
  		json
  	</a>
  </div>
{% endfor %}
</div>
	  <h3>Set of "small" images with size 10KB-1.5MB</h3>
<div class="container">
{% for member in site.data.small %}
  <div>
  	<a href="http://klokantech.github.io/iiifviewer/#http://iiifhawk.klokantech.com/{{ member.identifier }}/info.json" class="thumbnail">
  		<img src="http://iiifhawk.klokantech.com/{{ member.identifier }}/full/,100/0/native.jpg" heigth="100px"/>
  	</a>
  	<a href="http://iiifhawk.klokantech.com/cgi-bin/iiifserver.fcgi?iiif={{ member.identifier }}.jp2/info.json">
  		json
  	</a>
  </div>
{% endfor %}
</div>
      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/klokantech/hawk">Hawk</a> is maintained by <a href="https://github.com/klokantech">klokantech</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>

