<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<oembed>
	<version>{{ data['version'] }}</version>
    <type>{{ data['type'] }}</type>
    <title>{{ data['title'] | safe }}</title>
    <url>{{ data['url'] | safe }}</url>
    <width>{{ data['width'] }}</width>
    <height>{{ data['height'] }}</height>
    <author_name>{{ data['author_name'] | safe }}</author_name>
    <author_url>{{ data['author_url'] | safe }}</author_url>
    <provider_name>{{ data['provider_name'] | safe }}</provider_name>
    <provider_url>{{ data['provider_url'] | safe }}</provider_url>
</oembed>
