{% extends "base.html" %}

{% block title %}
oEmbed 
{% endblock %}

{% block script %}
<script src="http://klokantech.github.io/iiifviewer/iiifviewer.js"></script>
{% endblock %}

{% block style %}
<style>
      html, body {width:100%;height:100%;margin:0;padding:0; font-family: Verdana, Geneva, sans-serif;}
      #title {position: absolute; background-color: rgba(255, 255, 255, 0.8); z-index: 10;}
      #title{top: 10px; left: 10px; padding: 10px 10px 7px 10px;}
      h1{margin: 5px 10px;}
</style>
{% endblock %}

{% block content %}
<div id="title">
	<p>Unique ID: {{data.id}}</p>
	<p>Title: {{data.title}}</p>
	<p>Rights: {{data.rights}}</p>
	<p>Provider: {{data.provider}}</p>
	<p>Provider link: {{data.provider_link}}</p>
	<p>Created: {{data.created}}</p>
	<p>Updated: {{data.updated}}</p>
</div>

<div id="map" style="width:100%;height:100%;"></div>

<script type="text/javascript">
	new IiifViewer('map', {{data.meta|safe}});
</script>
{% endblock %}
